<html>
<head>
    <title> Career </title>
    <link rel="icon" href="images/favicon-96x96.ico">
    <link rel="stylesheet" href="stylesheets/career.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css">
    <script src="https://use.fontawesome.com/e335db187c.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mate+SC" rel="stylesheet">
</head>
<body>
<div class="body_wrapper">
    <div>
        <header class="nav_bar">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="/">Home</a></li>
                <li role="presentation"><a href="/portfolio">Portfolio</a></li>
                <li role="presentation"><a href="/career">Career</a></li>
                <!--<li role="presentation"><a href="/gallery">Gallery</a></li>-->
                <li role="presentation"><a href="/CV.pdf">Resume</a></li>
                <li role="presentation"><a href="/contact">Contact</a></li>
            </ul>
        </header>
    </div>
    <br><br>
    <div id="career" class="text-center">
        <br>
        <br><div class="container">
            <div class="section-title center">
                <h2>Experience</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <h4>March 2017 <br>
                                    - <br>
                                    Present </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>EES, IIT Delhi</h4>
                                    <h4 class="subheading">Executive</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Executive at Electrical Engineering Society, IIT Delhi.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Nov 2015 <br>
                                    - <br>
                                    Aug 2016 </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Inter Hostel Volleyball</h4>
                                    <h4 class="subheading">Defence Position</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>I was among the playing six members of the team..</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>Apr 2015<br>
                                    - <br>
                                    Apr 2016 </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Academic Prefect</h4>
                                    <h4 class="subheading">GOLDEN BADGE POSITION</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Academic Prefect at Jaipuria Vidyalaya, Jaipur</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="section-title center">
                <h2>Education</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">

                        <!-- Education Section-->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>2020(exp) <br>
                                    - <br>
                                    2016 </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Indian Institute of Technology</h4>
                                    <h4 class="subheading">B.Tech in Electrical Engineering</h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>2015 <br>
                                    - <br>
                                    2009 </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jaipuria Vidyalaya, Jaipur</h4>
                                    <h4 class="subheading">High School Degree</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In April 2016, I completed my 12th standard and started my IIT Journey.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>2009 <br>
                                    - <br>
                                    2005 </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Adarsh Vidya Mandir, Jaipur</h4>
                                    <h4 class="subheading">Completed Primary Education</h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>2005 <br>
                                    - <br>
                                    2003 </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Gems India Senior Secondary School</h4>
                                    <h4 class="subheading">Completed Pre Primary Education</h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section-title center">
            <h2>Achievements</h2>
            <hr>
        </div>
        <div class="list">
            <ul class="achievements">
                <li>
                    <h3 class="title"> GOT DIRECTOR'S MERIT PRIZE AWARD IN I SEMESTER. </h3>
                    <p> Was among top 7 % students in the first semseter of B-TECH programme. </p>
                </li>
                <li>
                    <h3 class="title"> 8.941 SEMESTER GRADE POINT IN II SEMESTER. </h3>
                </li>
                <li>
                    <h3 class="title"> 9.235 SEMESTER GRADE POINT IN I SEMESTER. </h3>
                </li>
                <li>
                    <h3 class="title"> AIR 396 (GEN) IN JEE ADVANCED 2017 </h3>
                    <p> Was among top 400 students of around 1.5 lakh students who appeared for the exam. </p>
                </li>
                <li>
                    <h3 class="title"> AIR 438 (GEN) IN JEE MAIN 2017 </h3>
                    <p> Was among top 500 students of around 12 lakh students who appeared for the exam. </p>
                </li>
                <li>
                    <h3 class="title"> AIR 512 (GEN) IN KVPY 2016 </h3>
                    <p> Cleared both stages of Kishor Vaigyanik Protsahan Yojna conducted by IISc, Banglore. </p>
                </li>
                <li>
                    <h3 class="title"> 95.4 % MARKS IN XII CBSE BOARD EXAM. </h3>
                    <p> I was overall school topper in XII, along with topper in four subjects including PCM. </p>
                </li>
                <li>
                    <h3 class="title"> 10 CGPA IN CBSE X BOARD EXAM. </h3>
                </li>
                <li>
                    <h3 class="title"> WAS AMONG STATEWISE TOP 1% IN NSEP. </h3>
                </li>
                <li>
                    <h3 class="title"> AIR 27 (GEN) IN NSTSE. </h3>
                </li>
                <li>
                    <h3 class="title"> First Position at Inter School Maths Olympiad </h3>
                    <p> Represented my school in Inter School Maths Olympiad at SMDJ and stood first. </p>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr>
</body>
</html>