<!DOCTYPE html>
<html>
<head>
    <title> Contact Details </title>
    <link rel="icon" href="images/favicon-96x96.ico">
    <link rel="stylesheet" href="stylesheets/contact.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montez" rel="stylesheet">
</head>
<body>
<div class="body_wrapper">
    <div>
        <header class="nav_bar">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="/">Home</a></li>
                <li role="presentation"><a href="/portfolio">Portfolio</a></li>
                <li role="presentation"><a href="/career">Career</a></li>
                <li role="presentation"><a href="/gallery">Gallery</a></li>
                <li role="presentation"><a href="/resume">Resume</a></li>
                <li role="presentation"><a href="/contact">Contact</a></li>
            </ul>
        </header>
    </div>
    <br><br>
    <div class="contact">
        <div class="image">
            <img src="images/contact_pen.jpg" width="600" height="500">
        </div>
        <div class="text">
            <h3 class="main">E-mail ID - <br> jainharshit.iitd@gmail.com </h3>
        </div>
        <div class="text">
            <h3 class="main">Contact No. - <br> 9711253542 </h3>
        </div>
    </div>
</div>
</body>
</html>