<!DOCTYPE html>
<html>
<head>
    <title> Gallery </title>
    <link rel="icon" href="images/favicon-96x96.ico">
    <link rel="stylesheet" href="stylesheets/basic.css">
    <link rel = "stylesheet" href = "stylesheets/gallery_css.css">
</head>
<body style = "background-image: url(images/bg.jpg);">
<% include templates/navigation.ejs %>
<h1> Gallery </h1>
<h2> to be updated soon ...</h2>
</body>