<!DOCTYPE html>
<html>
<head>
    <title> Gallery </title>
    <link rel="icon" href="images/favicon-96x96.ico">
</head>
<body>
<% include templates/navigation.ejs %>
<p> TO BE UPDATED SOON...</p>
</body>