<!DOCTYPE html>
<html>
<head>
    <title> Gallery </title>
    <link rel="icon" href="images/favicon-96x96.ico">
    <link rel="stylesheet" href="stylesheets/gallery_css.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css">
</head>
<body>
<div class="body_wrapper">
    <div>
        <header class="nav_bar">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="/">Home</a></li>
                <li role="presentation"><a href="/portfolio">Portfolio</a></li>
                <li role="presentation"><a href="/career">Career</a></li>
                <li role="presentation"><a href="/gallery">Gallery</a></li>
                <li role="presentation"><a href="/resume">Resume</a></li>
                <li role="presentation"><a href="/contact">Contact</a></li>
            </ul>
        </header>
    </div>
    <br><br>
    <div class="images">

    </div>
</div>
</body>
</html>