<!DOCTYPE html>
<html>
<head>
  <title>Index Page</title>
  <link rel="icon" href="images/favicon-96x96.ico">
</head>
<body>
<% include templates/base.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src = " images/h.jpg ">
    </a>
    <h1>Harshit Jain</h1>
    <p>This is my first web app made out of a lot of efforts and is of much value to me.</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/harshitjain1371999/nodejs_webapp.git"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    I am an avid learner and interested in coding and development.
  </div>
  <hr>
  <p> Follow me : <p>
    <a href = "https://twitter.com/Harshit1371999"> <img src = " images/twitter_logo.jpg" height = 30px width = 30px>
      <a href = "https://brilliant.org/profile/harshit-ag3z8s/"> <img src = " images/brilliant_logo.jpg" height = 30px width = 30px hspace = 7px>
        <a href = "https://www.facebook.com/profile.php?id=100011285054793"> <img src = " images/facebook_logo.png" height = 30px width = 30px>
          <a href = "www.linkedin.com/in/harshit-iitd"> <img src = " images/linked_in_logo.jpg" height = 40px width = 50px> </a>
</div>
<footer> &copy All copyrights reserved 2017 </footer>
</body>
</html>
