<html>
<head>
    <title> <%=title %></title>
    <link rel="icon" href="images/favicon-96x96.ico">
    <link rel = "stylesheet" href = "stylesheets/resume_css.css">
    <link rel = "stylesheet" href = "stylesheets/basic.css">
</head>
<body style = "background-image: url(images/bg2.jpg);">
<% include templates/navigation.ejs %>
<div style = "text-align: center; color: aqua; background-image: linear-gradient(to bottom, violet, blue);">
    <h1> Education </h1>

</div>
<h3 style = "color: yellow "> To be updated soon ... </h3>

</body>
</html>