<html>
<head>
    <title> <%=title %></title>
    <link rel="icon" href="images/favicon-96x96.ico">
</head>
<body>
<% include templates/navigation.ejs %>
<p> This is the Resume Page. </p>
</body>
</html>