<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div style = "background-image : linear-gradient(to bottom, blue, magenta, blue); margin-top: 0px; margin-left: 0px; margin-right: 0px; height: 50px; text-align: center; text-decoration: none;">
    <p style = "font-size: 20px; color: black; padding-top: 12px; "> <a style = "text-decoration: none;" href = "/"><b> Home Page </a> | <a style = "text-decoration: none;" href = "/portfolio"> Portfolio </a> | <a style = "text-decoration: none;" href = "/gallery"> Gallery </a> | <a style = "text-decoration: none;" href = "/resume"> Resume <b></a> </p>
</div>
</body>
</html>