body{
    width: 100%;
    min-height: 100%;
    background: url("../images/contact_bg.jpg") no-repeat top center fixed;
    background-size: cover;
}

.contact .image{
    margin-top: 5%;
    text-align: center;
}

.header{
    font-size: larger;
}

.nav_bar{
    width: 100%;
    position: fixed;
    font-size: 120%;
    background-image: url("../images/nav_bg.jpg");
}

.contact .text .main{
    font-family: 'Montez', cursive;
    font-size: 300%;
    text-align: center;
}