.body_wrapper{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    height: 50px;
    text-align: center;
    text-decoration: none;
    position: fixed;
}

.links{
    font-size: 20px;
    color: black;
    padding-top: 12px;
}

a{
    text-decoration: none;
}