.body_wrapper{
    background-image : linear-gradient(to bottom, blue, magenta, blue);
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    height: 50px;
    text-align: center;
    text-decoration: none;
}

.links{
    font-size: 20px;
    color: black;
    padding-top: 12px;
}

a{
    text-decoration: none;
}
