body {
    background: url("../images/vision.jpg") no-repeat top center fixed;;
    background-size: cover;
    width: 100%;
    min-height: 100%;
}

.header{
    font-size: larger;
}

.nav_bar{
    width: 100%;
    position: fixed;
    font-size: 120%;
    background-image: url("../images/nav_bg.jpg");
}

.portfolio_header{
    width : 100%;
    color:red;
    font-family: 'Copse', serif;
    text-align:center;
}

.About_me{

    text-align:center;
    color: #bce8f1;
    width : 100%;
    font-size: larger;
}

.image img{
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.image:hover img{
    opacity: .5;
}

.text{
    font-family: 'Alegreya', serif;
}

.skills{
    width:100%;
    text-align:center;
    font-size: 150%;
}

#first{
    color: #f7e1b5;
    font-family: 'Josefin Sans', sans-serif;
}

#header{
    color: #f0ad4e;
    font-family: 'Josefin Slab', serif;
}

.footer{
    color: #ccc;
    font-size: larger;
}