body {
    background-image: url(images/vision.jpg);
    position: fixed;
}

.portfolio_header{
    width : 100%;
    color:red;
    text-align:center;
    background-image: linear-gradient(to bottom, blue, magenta, blue);
}

.About_me{
    text-align:center;
    color:#F74E05;
    width : 100%;
}

.skills{
    width:100%;
    text-align:center;
}

.footer{
    color: white;
}